@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Roboto Mono', monospace;
}
html {
    scroll-behavior: smooth;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #100F12;
}
header h1 {
    font-size: 3.2em;
    font-family: 'Times New Roman', Times, serif;
    color: #FFF;
}
.titleColor {
    color: #FFB612;
    font-family: 'Times New Roman', Times, serif;
}
.colorText {
    color: #FFB612;
}
header ul {
    display: flex;
}
header li {
    margin: 0 5px;
}
header li a {
    padding: 20px;
    color: #FFF;
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}
header li a:hover {
    transition: .5s;
    color: #FFB612;
}
#chegada {
    display:flex;
    justify-content: center;
    align-items: center;
    background: url("../images/background.jpg") center no-repeat fixed; 
    height: 800px;
    color: #FFF;
}
#caixaChegada {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#caixaChegada h2 {
    font-size: 4em;
    margin: 15px 0;
    font-family: 'Times New Roman', Times, serif;
}
#caixaChegada h4 {
    margin: 10px 0;
    width: 400px;
    font-size: 2em;
}
#caixaChegada button {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #FFF;
    opacity: .6;
    transition: .8s;
    cursor: pointer;
}
#caixaChegada button:hover {
    opacity: 1;
    transform: scale(1.1);
}
button:focus {
    outline: none;
}
main {
    display:flex; 
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: #100F12;
}
main h2 {
    font-size: 3.5em;
    color: #FFF;
}
main h3 {
    width: 500px;
    margin: 50px auto;
    font-size: 1.7em;
    color: #FFF;
}
#areaPlanos {
    display: flex;
    justify-content: center;
    align-items: stretch;
    column-gap: 70px;
    padding: 20px;
}
.contornoPlanos {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    color: #FFF;
    background-color: rgb(26, 25, 25);
}
.contornoPlanos ul {
    height: 500px;
}
.areaTituloPlanos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
    background-color: #000;
    position: relative;
}
.areaTituloPlanos h4 {
    font-size: 3em;
}
.diferenca {
    margin: 15px;
    color: #808090;
}
.diferenca::after {
    content: "";
    display: block;
    height: 1px;
    margin-top: 15px;
    background-color: #a2a2ac3a;
}
.contornoPlanos li {
    margin: 25px ;
}
.contornoPlanos button {
    padding: 10px;
    margin: 20px;
    transition: .8s;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    color: #FFF;
    background-color: #D40D12;
}
.contornoPlanos button:hover {
    transform: scale(1.1);
}
.subli {
    text-decoration: line-through;
}
#conhecanos {
    text-align: center;
    padding: 30px;
}
#conhecanos h1 {
    font-size: 2.5em;
    margin: 15px;
}
#conhecanos > h3 {
    width: 800px;
    margin: auto auto 50px auto;
    font-size: 1.5em;
    color: #39393b;
}
#areaAplicativo {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-bottom: 50px;
}
#textAplicativo {
    width: 40%;
    text-align: center;
    color: #2a2a2b;
}
#textAplicativo h2 {
    font-size: 2.5em;
}
#textAplicativo p {
    font-size: 1.2em;
}
#cardsAplicativo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
    width: 80%;
    margin: auto;
}
.areaCards {
    width: 300px;
    overflow: hidden;
    text-align: left;
    background-color: rgba(230, 230, 230, 0.336);   
}
.areaCards img {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    transition: 1s;
}
.areaCards img:hover, .areaCards h2:hover {
    transform: scale(1.1);
}
.areaCards h3 {
    font-size: 1.4em;
    padding-left: 10px;
    margin-bottom: 10px;
    color: #525151;
}
.areaCards p {
    color: #525151;
    margin-bottom: 20px;
    padding-left: 10px;
}
.areaCards h2 {
    width: 80%;
    padding: 15px;
    margin: 10px auto;
    text-align: center;
    border-radius: 10px;
    font-size: 1em;
    color: #000;
    background-color: #FFB612;
    transition: 1s;
    cursor: pointer;
}
.areaCards h2:hover {
    background-color: #000;
    color: #FFF;
} 
